{% extends 'base.html' %}

{% block main_block %}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 p-4 border border-2 shadow rounded">
            <form method="post">
                {% csrf_token %}

                {{form}}
                <div class="text-center">
                    <input class="btn btn-outline-info px-4" type="submit">
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock %}
