{% extends 'base.html' %}

{% block main_block %}
<div class="container">
    <form action="">
        <select name="category" id="" onchange="this.form.submit()">
            <option value="">Chose Category</option>
            {%for cat in categories%}
            <option value="{{cat}}">{{cat}}</option>
            {%endfor%}
        </select>
    </form>
</div>


<div class="container mt-5">
    <h1 class="text-center mb-4">All Expenses</h1>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Payment Method</th>
                <th>Priority</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for t in data %}
            <tr>
                <td>{{ t.title }}</td>
                <td>{{ t.amount }}</td>
                <td>{{ t.category }}</td>
                <td>{{ t.payment_method }}</td>
                <td>{{ t.priority }}</td>
                <td>
                    <a href="{%url 'expensedetail' t.id %}">View</a>
                    <a href="{%url 'expenseremove' t.id %}">Delete</a>
                    <a href="{%url 'expenseupdate' t.id %}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
