{% extends 'base.html' %}

{% block main_block %}
    <div class="container mt-5">
        <div class="w-50 p-3 border border-2 shadow mx-auto mt-5 rounded">
            <h3 class="text-center fw-bold">Total Expense: {{expense_total}}</h3>
        </div>

        <div class="row mt-5">
            <div class="col-4 px-2 border">
                <h5 class="fw-bold text-center my-3">Category Summary</h5>
                {% for summary in category_total %}
                <div class="border rounded-pill my-2 p-2 d-flex justify-content-between">
                    <span>{{summary.category}}</span>
                    <span>{{summary.total}}</span>
                </div>
                {% endfor %}
            </div>

            <div class="col-4 px-2 border">
                <h5 class="fw-bold text-center my-3">Payment Method Summary</h5>
                {% for summary in paymethod_total %}
                <div class="border rounded-pill my-2 p-2 d-flex justify-content-between">
                    <span>{{summary.payment_method}}</span>
                    <span>{{summary.total}}</span>
                </div>
                {% endfor %}
            </div>

            <div class="col-4 px-2 border">
                <h5 class="fw-bold text-center my-3">Priority Summary</h5>
                {% for summary in priority_total %}
                <div class="border rounded-pill my-2 p-2 d-flex justify-content-between">
                    <span>{{summary.priority}}</span>
                    <span>{{summary.total}}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}
