{% extends 'base.html' %}

{% block main_block %}
<h2>Welcome {{ request.user }}</h2>

<div class="container">
    <div class="w-25 border border-3 shadow mx-auto p-3">
        <h4 class="fw-bold">ExpenseTotal : {{total_expense}}</h4>
    </div>
    <div class="row mt-3">
        <div class="col-4 p-2 border">
            <h4 class="text-center fw-bold my-2">Summary</h4>
            {%for summary in category_summary%}
                <div class="border rounded-pill p-2 mt-2 d-flex justify-content-around">
                    <div>{{summary.category}}</div>
                    <div>{{summary.count}}</div>
                    <div>{{summary.total}}</div>
                </div>
            {%endfor%}
        </div>
        <div class="col-4">
            <canvas id="myChart1"></canvas>
        </div>
        <div class="col-4">
            <canvas id="myChart2"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx1 = document.getElementById('myChart1');

  new Chart(ctx1, {
    type: 'pie',
    data: {
      labels: [{%for summary in category_summary%}'{{summary.category}}', {%endfor%}],
      datasets: [{
        label: '# of Votes',
        data: [{%for summary in category_summary%}{{summary.total}}, {%endfor%}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
<script>
    const ctx2 = document.getElementById('myChart2');

    new Chart(ctx2, {
      type: 'doughnut',
      data: {
        labels: [{%for summary in category_summary%}'{{summary.category}}', {%endfor%}],
        datasets: [{
          label: '# of Votes',
          data: [{%for summary in category_summary%}{{summary.count}}, {%endfor%}],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

<a href="{%url 'signout'%}">SignOut</a>
{% endblock %}
